<%= render partial: "partials/nav-bar", locals: {
  links: [
    ["Menu", menus_path],
    ["Cart", orders_path(target: "cart")],
    ["Orders", orders_path]
  ]
 }%>

<main class="dashboard">
  <% if @role == "owner" %>
    <%= render partial: "owner", locals: {
      menus: Menu.all.order("created_at"),
    }%>
  <% else %>
    <%= render partial: "clerk", locals: {
      orders: Order.all,
    } %>
  <% end %>
</main>