<%= render partial: "partials/nav-bar", locals: { show_cart: false }%>

<main class="dashboard">
  <% if @role == "owner" %>
    <%= render partial: "owner", locals: {
      menus: Menu.all,
    }%>
  <% else %>
    <%= render partial: "clerk", locals: {
      orders: Order.all,
    } %>
  <% end %>
</main>