<% if @current_user %>
  <nav class="nav">
    <div class="nav__logobox">Cafe Management System</div>
    <ul class="nav__list">
      <% if show_cart %>
        <li class="nav__list--item">
          <%= link_to "Cart", orders_path, method: "get", class: "nav__list--link" %>
        </li>
      <% end %>
      <li class="nav__list--item">
        <%= link_to "Log out", destroy_sessions_path, method: "delete", class: "nav__list--link" %>
      </li>
    </ul>
  </nav>
<% end %>