<main class="home">
  <h1 class="home__title">Eat and enjoy delicious food</h1>

  <section class="home__cards">
    <div class="home__card">
      <h3 class="home__card--title">Create a new account to order delicious food right at your doorstep</h3>
      <%= link_to "Create a new account", new_user_path, class: "home__card--link" %>
    </div>

    <div class="home__card">
      <h3 class="home__card--title">Log-in to your exisiting account to view previous orders and cart details</h3>
      <%= link_to "Log-in to your account", sessions_path, class: "home__card--link" %>
    </div>
  </section>
</main>