<%if @target == "cart"
    orders_link = ["Orders", orders_path]
  else
    orders_link = ["Cart", orders_path(target: "cart")]
  end
%>

<% if @current_user.role == "customer"
      links = [
        ["Menu", menus_path],
        orders_link,
      ]
   else
      links = [
        ["Dashboard", dashboard_path],
        ["Menu", menus_path],
        orders_link
      ]
   end
%>

<%= render partial: "partials/nav-bar", locals: {
  links: links
} %>

<main class="order">
  <% current_user_id = @current_user.id %>

  <% if @target == "cart" %>
    <%= render partial: "cart", locals: {
      current_order_id: Order.current_order(current_user_id).id,
      current_order_items: Order.current_order(current_user_id).order_items,
    }%>
  <% else %>
    <%= render partial: "previous", locals: {
      orders: @current_user.orders,
    }%>
  <% end %>
</main>