.btn {
  text-decoration: none;
  background-color: #5d15bb;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    transform: scale(1.01) translateY(-1px);
    box-shadow: 0 5px 10px rgba(#3a3944, 0.2);
  }

  &--green {
    background-color: #0a9b63;
  }

  &--red {
    background-color: #d24747;
  }
}

.active-lable {
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(255, 193, 193);
  color: red;
  padding: 5px 10px;
  border: solid 2px red;
  border-radius: 5px;

  &--blue {
    background-color: #ede0ff;
    color: #5d15bb;
    border: solid 2px #5d15bb;
  }
}

.delete-btn {
  width: 31px;
  font-size: 12px;
  font-weight: 600;
  color: red;
  padding: 5px 10px;
  border: solid 2px red;
  border-radius: 5px;
  margin-right: 20px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;

  &:hover {
    background-color: rgb(255, 193, 193);
  }
}

.empty-state {
  margin: 0 auto;
  height: 500px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 30px;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  color: #6326b3;

  &--white {
    color: white;

    &::after,
    &::before {
      background-color: white !important;
    }
  }

  &::after,
  &::before {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #6326b3;
    display: inline-block;
    position: absolute;
    right: -15px;
    bottom: 5px;
  }

  &::before {
    transform: scale(2);
    opacity: 0.2;
    animation: ripple 1.5s ease-in infinite;
  }
}
