.card {
  padding: 40px;
  box-shadow: 0 10px 40px rgba(#3a3944, 0.16);
  border-radius: 10px;
  margin-bottom: 40px;

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

    a {
      color: #5d15bb;
    }
  }

  &__sub-title {
    font-size: 14px;
    font-style: italic;
    color: grey;
    margin-bottom: 30px;
  }
}
