.dashboard {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 30px;
    margin-bottom: 60px;
  }

  &__section {
    padding: 40px;
    box-shadow: 0 20px 50px rgba(#3a3944, 0.16);
  }

  &__menu {
    &--title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 30px;
      color: #5d15bb;
    }

    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    &--edit {
      display: flex;
      align-items: center;

      &:hover img {
        opacity: 1;
      }

      img {
        width: 20px;
        margin-right: 20px;
        opacity: 0;
        transition: all 0.2s ease;
      }
    }

    &--name {
      font-size: 18px;
    }

    &--add {
      margin-top: 30px;

      &-input {
        font-size: 14px;
        padding: 10px 15px;
        border-radius: 8px;
        border: solid 2px #c9c9c9;
        color: #3a3944;
        outline: none;
      }

      &-btn {
        font-size: 14px;
        padding: 10px 20px;
        border: solid 2px #5d15bb;
      }
    }
  }
}
