.msgbox {
  position: fixed;
  right: 20px;
  top: 100px;
  max-width: 400px;
  padding: 30px;
  color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  pointer-events: none;
  animation: fade-in 0.2s ease, fade-out 4s ease forwards 0.2s;

  p:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__error {
    background-color: #d24747;
  }

  &__notice {
    background-color: #0a9b63;
  }

  &__alert {
    background-color: #e49c16;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
