.order {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 30px;
    margin-bottom: 60px;
  }

  &__section {
    width: calc(max(50%, 500px));

    &--title {
      font-size: 20px;
      color: #5d15bb;
      font-weight: 600;
      margin-bottom: 50px;
      padding-bottom: 20px;
      border-bottom: 1px solid #5d15bb;
    }
  }

  &__cart {
    margin-bottom: 100px;

    &--item {
      padding: 40px;
      box-shadow: 0 10px 40px rgba(#3a3944, 0.16);
      border-radius: 10px;
      margin-bottom: 40px;
    }

    &--title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &--itemscount {
      font-size: 14px;
      font-style: italic;
      color: grey;
      margin-bottom: 30px;
    }

    &--quantity {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    &--total {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      span {
        color: #5d15bb;
        font-weight: bold;
      }
    }

    &--btn {
      width: 100%;
      margin-top: 30px;
      padding: 15px 20px;
    }
  }

  &__previous {
    &--item {
      padding: 40px;
      box-shadow: 0 10px 40px rgba(#3a3944, 0.16);
      border-radius: 10px;
      margin-bottom: 40px;
    }

    &--id {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;

      a {
        color: #5d15bb;
      }
    }

    &--date {
      font-size: 14px;
      font-style: italic;
      color: grey;
      margin-bottom: 30px;
    }

    &--status {
      font-size: 15px;
      font-weight: bold;

      &-received {
        color: rgb(226, 153, 58);
      }

      &-delivered {
        color: rgb(39, 170, 94);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &--name {
      flex: 1;
    }

    &--price,
    &--price a {
      color: #5d15bb;
    }
  }

  &__invoice {
    &--legend {
      font-size: 15px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    &--user {
      margin: 15px 0;

      a {
        color: #5d15bb;
      }
    }

    &--status {
      &-delivered,
      &-pending {
        margin: 15px 0;
        font-weight: bold;
      }

      &-delivered {
        color: rgb(39, 170, 94);
      }

      &-pending {
        color: rgb(226, 153, 58);
      }
    }

    &--total {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      padding-top: 20px;
      border-top: solid 1px #5d15bb;

      span {
        color: #5d15bb;
        font-weight: bold;
      }
    }
  }
}
